@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap);

:root {
    --Secondary: #eff1f1;
    --Primary: #2A3439;
    --Accent: #45BED6;
}

* {
    /* border: 1px dotted red; */
    font-family: Source Code Pro;
} 

html, body {
    background-color: var(--Primary);
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

main {
    color: darkgray;
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 66%;
    width: 100%;
}

.left {
    margin-right: 8%;
    margin-left: 16px;
    margin-bottom: 8px;
    align-content: end;
}

.name {
    font-size: 96px;
    font-weight: 900;
}

.desc {
    margin-right: 0%;
    margin-bottom: 0px;
    font-size: 24px;
}

.right {
    margin-right: 16px;
    align-content: end;
}

.headshot {
    width: 384px;
    height: 384px;
}

section {
    color: darkgray;
    display: flex;
    flex-direction: column;
    height: 33%;
    width: 100%;
    padding: 0px;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 64px;
    margin-bottom: 16px;
}

.icon {
    width: 64px;
    height: 64px;

    padding: 16px;
    border: 4px solid darkgray;
    border-radius: 24px;

    filter: invert(83%) sepia(1%) saturate(247%) hue-rotate(314deg) brightness(85%) contrast(79%);
}