@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap);

:root {
  --Secondary: #eff1f1;
  --Primary: #2A3439;
  --Accent: #45BED6;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Source Code Pro;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: darkgray;
}

header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;

  height: 72px;
  background: var(--Primary);
  color: darkgray;
}

.card {
  padding: 16px;
  width: 256px;
  background-color: white;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
  border-radius: 8px;
}

.thumbnail {
  width: 256px;
  height: 144px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card .title {
  font-weight: 900;
  text-align: center;
  margin: 8px;
}

.body {
  flex: 1;
  display: flex;
}

.container {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}